<h1>Messages from COntact Us </h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>E-mail</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |messages|}}
		<tr>
			<th>{{messages.id}}</th>
			<td>{{messages.email}}</td>
			<td>{{messages.message}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>