<h1>Messages from COntact Us </h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>E-mail</th>
			<th>Message</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |message|}}
    <tr>
     <th>{{message.id}}</th>
     <td>{{message.email}}</td>
     <td>{{message.message}}</td>
     <td><button class="btn btn-danger btn-xs" {{action 'deleteMessage' message}}>Delete</button></td>
   </tr>
   {{/each}}
 </tbody>
</table>